.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  height: 40px;
  flex-shrink: 0;
}

.wrapper[data-status='current'] { 
  --prize-stroke: var(--color-orange-100);
  --prize-text: var(--color-orange-100);
}

.wrapper[data-status='reached'] { 
  --prize-stroke: var(--color-grey);
  --prize-text: var(--color-grey);
}

.wrapper[data-status='upcoming'] { 
  --prize-stroke: var(--color-grey);
  --prize-text: var(--color-black);
}

.shape {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.shapePath {
  fill: var(--color-white);
  stroke: var(--prize-stroke);
  stroke-width: 1;
}

.line {
  fill: none;
  stroke: var(--prize-stroke);
  stroke-width: 1;
}

.prize {
  position: relative;
  color: var(--prize-text);

  font-size: var(--font-m);
  line-height: var(--line-height-m);
  font-weight: var(--font-regular);
}

@media (max-width: 1024px) {
  .wrapper {
    height: 32px;
  }

  .prize {
    font-size: var(--font-xs);
  }
}
